.about__container {
   
    width: 600px;
    height: 500px;
    margin-top: 100px;
    transition: all 0.5s ease;
    padding: 40px;
    
}
.about__container p{
   padding: 10px;
   font-size: 16px; 
   color: #67748e;
   
   
}
.about__detail {
    line-height: 1.5;
    text-align: justify;
}

.about__container__abouttxt p{
    color: #DA7229;
    font-weight: bold;
}
.about__container__parone p{
    font-size: 20px; 
    color: #34476C;
  
}
.about__container__parlast p{
    font-size: 12px; 
    color: white;
    background-color:#DA7229;
    width: 130px;
    
}
.about__container__parlast a{
   
    color: white;
    text-decoration: none;
    
}
@media screen and (max-width: 576px) {
    .about__container {
   
        width: 400px;
       
    }
    
}



